body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::after {
  content: "";
  background: url("https://i.imgur.com/yhQ7Az8.jpg");
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(44, 80, 118);
  padding: 15px;
  font-size: 2em;
}

.nav a {
  color: white;
}

.span {
  text-decoration: underline;
}

.home {
  margin: 210px;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 4px;
  opacity: 0.8;
  font-size: 2em;
  padding: 20px;
}

.about {
  margin: 230px;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 4px;
  opacity: 0.8;
  padding: 30px;
}

.stocks {
  margin-top: 100px;
}

.stocks a{
  color: black;
  font-size: 1.5em;
  align-content: center; /*How do I center text?*/
}

.stock{
  width: 350px;
  margin: 230px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.8;
  border-radius: 6px;
  position: relative;
  display: block;
}

.cardStock{
  display: flex;
  justify-content: center;
}